# NODE_ENV=development
# PORT=4000
# FRONTEND_URL=http://localhost:5173
# DB_HOST=localhost
# DB_PORT=3306
# DB_USER=root
# DB_PASSWORD=
# DB_NAME=eventos_iepp
# JWT_SECRET=cambie_esta_clave_por_una_muy_segura
# JWT_EXPIRES_IN=8h
# API_PERU_URL=https://apiperu.dev/api/dni
# API_PERU_TOKEN=cc62e46eb0543e7493d8633ac6a899a2f2e3649a2ec71fc48e6dd428dc859c2e
# # ADMIN_EMAIL=admin@evento.local
# # ADMIN_PASSWORD=Admin12345*
# ADMIN_USER=ADMIN
# ADMIN_PASSWORD=IEPP2026-08

NODE_ENV=development
PORT=4000
FRONTEND_URL=http://localhost:5173

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=eventos_iepp

JWT_SECRET=cambie_esta_clave_por_una_muy_segura_de_32_caracteres
JWT_EXPIRES_IN=8h

API_PERU_URL=https://apiperu.dev/api/dni
API_PERU_TOKEN=cc62e46eb0543e7493d8633ac6a899a2f2e3649a2ec71fc48e6dd428dc859c2e

ADMIN_USER=ADMIN
ADMIN_PASSWORD=IEPP2026-07
